@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700,800,900&display=swap");

// FONTS TYPOGRAPHY
$font-Poppins: "Poppins", sans-serif;

// RESOLUTIONS
$tablet: "(min-width: 768px)";
$tabletLandscape: "(min-width: 992px)";
$desktop: "(min-width: 1200px)";
$desktopLg: "(min-width: 1400px)";

// COLORS
$primary: #0550fd;
