.button {
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid transparent;
  min-width: 160px;
  padding: 0 15px;
  line-height: 1;
  letter-spacing: 0.34px;
  border-radius: 8px;
  height: 46px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-left: 5px;
  }

  &-secondary {
    border-color: #fff;
    &:hover {
      background-color: #fff;
      color: #2a34aa;
    }
  }

  &-primary {
    background-color: #23a95e;
    border: none;
    &:hover {
      background-color: darken($color: #23a95e, $amount: 5%);
      color: #fff;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;
  .button {
    & + .button {
      margin-left: 15px;
    }
  }
}
